<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TITULO
        link(rel="stylesheet", href="css/styles.css")
    body
        h1(data-valor="90").clase Hola que hace
        .tecla(data-valor="8") 8
        script(src="js/scripts.min.js")